<div class="card border-left-primary shadow h-100 py-2">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
          Lista De Taxas de entrega
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <% if @delivery_charges.any? %>
          <ul class="list-group">
            <% @delivery_charges.each do |delivery_charge| %>
              <li class="list-group-item">
                <div class="d-flex bd-highlight">
                  <div class="p-2 flex-grow-1 bd-highlight"><%= delivery_charge.county %></div>
                  <div class="p-2 bd-highlight"><span class="badge badge-primary badge-pill p-2">R$ <%= delivery_charge.price %></span></div>
                  <div class="p-2 bd-highlight">
                    <%= link_to edit_admin_delivery_charge_path(delivery_charge.id), class: "text-gray-500", title: "Editar" do %>
                      <i class="fas fa-pen"></i>
                    <% end %>
                  </div>
                  <div class="p-2 bd-highlight">
                    <%= link_to admin_delivery_charge_path(delivery_charge.id), method: :delete, data: { confirm: "Confirma?" }, class: "text-gray-500", title: "Deletar" do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="card bg-info text-white shadow">
            <div class="card-body">
              Nenhuma taxa de entrega cadastrada
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<a class="action-add rounded-circle bg-primary" href="<%= new_admin_delivery_charge_path %>">
  <i class="fas fa-plus"></i>
</a>
