<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: <%= current_setting.sidebar_color %>;">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= root_path %>">
    <div class="sidebar-brand-icon">
      <span><%= current_setting.short_text_sidebar %></span>
    </div>
    <div class="sidebar-brand-text mx-2"><%= current_setting.text_sidebar %></div>
  </a>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_customer_orders_path %>">
      <i class="fas fa-fw fa-clipboard-list"></i>
      <span>Pedidos</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_products_path %>">
      <i class="fas fa-fw fa-box-open"></i>
      <span>Produtos</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_categories_path %>">
      <i class="fas fa-fw fa-table"></i>
      <span>Categorias</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_delivery_charges_path %>">
      <i class="fas fa-fw fa-shipping-fast"></i>
      <span>Taxas de entrega</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_reports_path %>">
      <i class="fas fa-fw fa-file-alt"></i>
      <span>Relatórios</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= edit_admin_setting_path(current_setting.id) %>">
      <i class="fas fa-fw fa-cogs"></i>
      <span>Configurações</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
