<ul class="nav nav-tabs" id="myTab" role="tablist" style="flex-wrap: initial !important; overflow-x: auto; overflow-y: hidden;">
  <% @categories.each_with_index do |category, index| %>
    <li class="nav-item">
      <a class="nav-link <%= "active" if index == 0  %>" id="category-tab<%= category.id %>" data-toggle="tab" href="#category-<%= category.id %>" role="tab" aria-controls="category-<%= category.id %>" aria-selected="true"><%= category.name %></a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <% @categories.each_with_index do |category, index| %>
    <div class="mt-3 tab-pane <%= "active" if index == 0 %>" id="category-<%= category.id %>" role="tabpanel" aria-labelledby="category-tab<%= category.id %>">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%= category.name %></h1>
      </div>

      <div class="row">
        <% category.products.each do |product| %>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body py-0">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h6 font-weight-bold text-primary text-uppercase mb-1">
                      <%= product.name %>
                      <span class="badge badge-secondary badge-counter font-size-80" id="<%= "#{category.name}-#{category.id}-#{product.id}-size-items" %>" style="display: none;">1</span>
                    </div>
                    <div class="h7 mb-0 font-weight-bold text-gray-800"><%= display_product_price(product) %></div>
                    <span class="card-text"><%= product.description %></span>
                    <div class="mt-2">
                      <button class="btn btn-success btn-circle btn-sm mr-1 add-product-to-bag"
                        data-product-id="<%= "#{category.name}-#{category.id}-#{product.id}" %>"
                        data-price="<%= format_price(product.promotional_price).presence || format_price(product.price) %>"
                        data-name="<%= product.name %>"
                        data-img="<%= url_for(product.picture) %>"
                        data-id="<%= product.id %>"
                        data-items-in-stock="<%= product.items_in_stock %>">
                        <i class="fas fa-plus"></i>
                      </button>
                      <button class="btn btn-danger btn-circle btn-sm remove-product-to-bag" id="<%= "#{category.name}-#{category.id}-#{product.id}-remove" %>"
                        data-product-id="<%= "##{category.name}-#{category.id}-#{product.id}" %>"
                        data-price="<%= format_price(product.promotional_price).presence || format_price(product.price) %>"
                        data-update-item=true data-items-in-stock="<%= product.items_in_stock %>">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-auto" id="image-<%= "#{category.name}-#{category.id}-#{product.id}" %>">
                    <div style="display: none !important;" class="bg-primary text-white p-1 rotate-n-15 d-inline-block no-items-in-stock">
                      0 itens no estoque.
                    </div>
                    <img src="<%= url_for(product.picture) %>" class="img-fluid rounded" width="100" height="100">
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'templates/bag/item' %>
<%= render 'admin/customer_orders/public/modal', customer_order: @customer_order, delivery_charges: @delivery_charges %>
