<%= form_for [:admin, product], { html: { class: "" } } do |form| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <%= form.text_field :name, class: "form-control" %>
        <%= display_field_error_message(@product, :name) %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Categoria</label>
        <%= form.select :category_id, categories.collect{ |category| [category.name, category.id] }, {}, { class: "form-control" } %>
        <%= display_field_error_message(@product, :category_id) %>
      </div>
    </div>

    <div class="col-md-2">
      <label for="product-price">Preço</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="price-addon">R$</span>
        </div>
        <%= form.number_field :price, class: "form-control", min: 0.01, step: 0.01, aria: { describedby: "price-addon"} %>
        <%= display_field_error_message(@product, :price) %>
      </div>
    </div>

    <div class="col-md-2">
      <label for="product-price">Preço promocional</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="price-addon">R$</span>
        </div>
        <%= form.number_field :promotional_price, class: "form-control", min: 0.01, step: 0.01, aria: { describedby: "price-addon"} %>
        <%= display_field_error_message(@product, :promotional_price) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="product_description">Descrição</label>
        <%= form.text_area :description, class: "form-control" %>
        <%= display_field_error_message(@product, :description) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <div class="custom-file">
          <%= form.file_field :picture, class: "custom-file-input" %>
          <%= display_field_error_message(@product, :picture) %>
          <label class="custom-file-label" for="product_picture" aria-describedby="inputGroupFileAddonPicture">Escolher arquivo</label>
        </div>
      </div>
    </div>
  </div>

  <%= form.submit class: "btn btn-primary btn-block" %>
<% end %>
