<div id="customer-order-list">
  <% if @customer_orders.any? %>
    <div class="text-xs font-weight-bold text-primary text-uppercase p-3" id="no-item-customer-order">
      Pedidos <span class="badge badge-primary font-size-100"><%= @customer_orders.size %></span>
    </div>
    <div class="row">
      <% @customer_orders.each do |customer_order| %>
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters">
                <div class="col">
                  <div class="h7 font-weight-bold text-primary text-uppercase mb-1">
                    <i class="fas fa-map-marker-alt mr-2"></i>
                    <%= customer_order.delivery_address %>
                  </div>
                  <h4 class="small font-weight-bold">
                    <i class="fas fa-box-open mr-2"></i>
                    <%= customer_order.ordered_products_amount_and_names.to_sentence %>
                  </h4>
                  <h4 class="small font-weight-bold">
                    <i class="fas fa-<%= customer_order.credit_card? ? "credit-card" : "money-bill" %> mr-2"></i>
                    <%= CustomerOrder.human_enum_name(:way_of_payment, customer_order.way_of_payment) %>
                    <% if customer_order.change_for.present? %>
                      Troco para R$ <%= "%.2f" % customer_order.change_for %>
                    <% end %>
                  <h4>
                </div>
                <div class="col-auto">
                  <div class="h7 mb-0 font-weight-bold text-gray-800">
                    Total: R$ <%= "%.2f" % customer_order.total_value %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="card bg-info text-white shadow">
      <div class="card-body">
        Nenhum pedido recebido
      </div>
    </div>
  <% end %>
</div>
